parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkUninitializedProperties: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - de-wordpress-plugin-utils.php
        - src
    scanDirectories:
        - src
    excludePaths:
        - vendor/*
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php

